# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo.
*       @bob @carol

# Order is important; the last matching pattern takes the most
# precedence. When someone opens a pull request that only
# modifies JS files, only @my-org/js-devs and not the global
# owner(s) will be requested for a review.
*.js    @my-org/js-devs # This is an inline comment.

*.go @my-org/go-devs

docs/ @my-org/librarians

very/important/file @bob
