name: pr

on: [pull_request]

permissions:
  actions: read
  checks: none
  contents: none
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.7"

      - name: setup bats
        uses: mig4/setup-bats@v1

      - name: lint go
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s v1.39.0
          ./bin/golangci-lint run --timeout=5m --color=always --max-same-issues=0 --max-issues-per-linter=0

      - name: build
        run: make build

      - name: unit test
        run: make test

      - name: test examples
        run: make test-examples

      - name: acceptance
        run: make test-acceptance
