name: pr

on: [pull_request]

permissions:
  actions: read
  checks: none
  contents: none
  deployments: none
  issues: none
  packages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
    - name: checkout all PR branch and commits
      uses: actions/checkout@v3
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: ${{ github.event.pull_request.commits }}

    - name: validate conventional commit prefix
      working-directory: scripts
      run: ./validate-conventional-commit-prefix.sh

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v2

      - name: setup go
        uses: actions/setup-go@v2
        with:
          go-version: "1.21.0"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          args: --timeout=5m --color=always --max-same-issues=0 --max-issues-per-linter=0

      - name: build
        run: make build

      - name: unit test
        run: make test

      - name: setup bats
        uses: mig4/setup-bats@v1

      - name: test examples
        run: make test-examples

      - name: acceptance
        run: make test-acceptance

      - name: test oci push/pull
        run: ./scripts/push-pull-e2e.sh
