name: pr

on: [pull_request]


permissions: {}

env:
  IMAGE: openpolicyagent/conftest
  PLATFORMS: linux/amd64,linux/arm64

jobs:
  style:
    runs-on: ubuntu-latest
    steps:
    - name: checkout all PR branch and commits
      uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: ${{ github.event.pull_request.commits }}

    - name: validate conventional commit prefix
      working-directory: scripts
      run: ./validate-conventional-commit-prefix.sh

    - name: setup regal
      uses: StyraInc/setup-regal@v1
      with:
        version: v0.30

    - name: lint examples - warnings
      continue-on-error: true # Regal returns non-zero even with fail-level set to warning.
      run: >-
        regal lint
        examples
        --disable directory-package-mismatch
        --disable unresolved-import
        --format github

    - name: lint examples - blocking
      run: >-
        regal lint
        examples
        --disable-all
        --enable-category bugs
        --format github

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24.x"
          cache: false

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          args: --timeout=5m --color=always --max-same-issues=0 --max-issues-per-linter=0

      - name: build
        run: make build

      - name: unit test
        run: make test

      # Ensure Actions runner has Python installed
      # This is required for pre-commit tests to work
      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: setup bats
        uses: bats-core/bats-action@3.0.1
        with:
          # Pin bats version to fix CI issue: https://github.com/bats-core/bats-action/pull/4
          bats-version: "1.10.0"
          support-install: false
          assert-install: false
          detik-install: false
          file-install: false

      - name: test examples
        run: make test-examples

      - name: acceptance
        run: make test-acceptance

      - name: test oci push/pull
        run: ./scripts/push-pull-e2e.sh

  docker:
    runs-on: ubuntu-latest
    needs:
      - validate
    steps:
      - name: checkout source
        uses: actions/checkout@v4

      - name: setup docker buildx
        run: docker buildx create --name conftestbuild --use

      - name: Build Docker image
        uses: docker/build-push-action@v6 
        with:
          context: .
          push: false
          tags: |
            ${{ env.IMAGE }}:latest
          platforms: ${{ env.PLATFORMS }}
