name: tag

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # It is important to check the GoReleaser config before pushing to
      # Dockerhub to avoid having mismatches between what is in Dockerhub
      # and GitHub releases.
      - name: check releaser config
        uses: goreleaser/goreleaser-action@v2
        with:
          args: check

      - name: login to docker hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_LOGIN }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: get version
        id: get-version
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: setup docker buildx
        run: docker buildx create --name conftestbuild --use

      - name: push images
        env:
          VERSION: ${{ steps.get-version.outputs.VERSION }}
        run: make push TAG=$VERSION

      - name: setup go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21.x"

      - name: release
        uses: goreleaser/goreleaser-action@v2
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
